.profile_div img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin-right: 20px;
}

.navbar {
    padding: 20px;

}

.nav_bar_bg {
    background: #131313;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10000;
    color: white;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: white;
}

.navbar-brand {
    background-image: linear-gradient(to right, #ff0844 0%, #f7673c 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
}

.navbar-brand:hover {
    background-image: linear-gradient(to right, #ff0844 0%, #f7673c 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.nav-item a {
    color: #fff !important;
    font-size: 16px !important;
    font-style: normal !important;
}

.nav-item a:hover {
    background-image: linear-gradient(to right, #ff0844 0%, #f7673c 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    transition: ease-in 0.5s;
}

.navbar-nav {
    display: flex;
    gap: 40px !important;
}