.saved_ques p {
    color:#fff;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.ques_container {
    display: flex;
    gap: 20px !important;
    flex-wrap: wrap;
}

.queues_parent {
    width: 410px;
    margin-bottom: 20px;
}

.ques_header {
    color:#fff;
    font-family: Roboto;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 40px;
}

@media(max-width:1024px) {
    .saved_queue_container{
        padding: 0 !important;
        margin-bottom: 20px;
    }
    .fav_header{
        margin-right: 15px !important;
    }
    .queues_parent {
        max-width: 410px !important;
        width: 100%;
        margin-bottom: 20px;
    }

    .ques_container {
        flex-wrap: wrap;
        margin: 15px;
        justify-content: center;
    }

    .queues_parent {
        display: flex;
        flex-direction: column;
        gap: 20px !important;
        margin-bottom: 20px !important;
        justify-content: center;
    }

    .ques_header {
        color:#fff;
        font-family: Roboto;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
    }
}