.server_content img {
    width: 155px;
    height: 150px;
    border-radius: 50%;
    text-align: center !important;
    margin: auto;
    margin-bottom: 10px;

}
.serverlist {
    display: flex;
    gap: 40px;
    margin: 30px auto;
    flex-wrap: wrap;
    justify-content: center;
}

.server_content {

    height: fit-content;
    padding: 17px;
    text-align: center;
    font-weight: 500 !important;
}



.server_title p {
    display: block;
    color:#fff;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

.server_page {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 100px;
}