.btn_secondary {
    border-radius: 10.667px;
    background: rgba(217, 217, 217, 0.50);
    overflow: hidden;
    color:#fff;
    text-align: center;
    text-overflow: ellipsis;
    font-family: Roboto !important;
    font-size: 20px;
    font-style: normal;
    font-weight: 400 !important;
    max-width: 150px !important;
    width: 100% !important;
}

.btn_secondary:hover {
    background-color:#fff;
    color: white;
    transition: ease-in 0.5s;
}

@media (max-width:768px) {
    .server_title p {
        font-size: 30px !important;
        margin-bottom: 20px;
    }

    .small_header {
        font-size: 30px !important;
    }

    .btn_secondary {
        margin-bottom: 15px !important;
    }

    .small_footer {
        font-size: 30px !important;
    }
}