.btn_secondary {
    font-size: 20px;
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #fd1d1d, #330220);
    background: linear-gradient(to right, #fd1d1d, #6a023b);
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all .35s;
    outline: none;
    color: white;
padding: 5px 20px;
}

.btn_secondary a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.btn_secondary:before {
    position: absolute !important;
    content: '';
    top: 0 !important;
    left: 0 !important;
    width: 0 !important;
    height: 100%;
    background: red !important;
    transition: all .35s !important;
    border-radius: 4px !important;
    color: white;
}

.btn_secondary:hover {
    color: #fff;
}

.btn_secondary:hover:before {
    width: 100% !important;
}

@media (max-width:768px) {
    .server_title p {
        font-size: 30px !important;
        margin-bottom: 20px;
    }

    .small_header {
        font-size: 30px !important;
    }

    .btn_secondary {
        margin-bottom: 15px !important;
    }

    .small_footer {
        font-size: 30px !important;
    }
}