.nav-option {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    gap: 10px;
    width: 250px;
}

.sidebar-container {
    height: 100vh !important;
    position: fixed;
    top: 9.5%;
    z-index: 1000000;
}

.sidebar_content {
    width: 250px;
    height: 100vh !important;
}

.nav_notCollapse {
    background-color: #131313;
    color: #fff !important;
}

.sidebar-container::-webkit-scrollbar {
    display: none;
}

.sidebar_profile img {
    width: 155px;
    height: 150px;
    border-radius: 50%;
}

.sidebar_profile {
    margin: auto;
    text-align: center;
}

.sidebar_profile p {
    font-size: 16.548px !important;
    font-style: normal;
    font-weight: 500 !important;
    padding-top: 8px;
    text-align: center;
}

.nav-option {
    padding: 16px 26px;
}

.largeDeviceIcon {
    text-align: end;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 35px;
}

.nav-option:hover {
    border-width: 1px;
    border-style: solid;
    color: white;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

.navCollapse {
    border-right: 3px solid;
    border-image: linear-gradient(to right, #fd1d1d, #6a023b) 1;
}

.active {
    background-color: #292323;
    border-radius: 4px !important;
    border-left: 3px solid !important;
    border-image: linear-gradient(to right, #fd1d1d, #6a023b) 1 !important;
    border-bottom: 0 !important;
    border-top: 0 !important;
    border-right: 0 !important;
}

@media (min-width:768px) {
    .navCollapse {
        width: 80px;
        color: #fff;
        background-color: #131313;

    }

    .collapse_largeDeviceIcon {
        text-align: center;
        margin-top: 30px;
    }

    .navCollapse .nav-option h6 {
        display: none;
    }

    .sidebar_profile {
        display: block;

    }

    .sidebar_collapse_profile img {
        width: 60px !important;
        height: 60px;
        border-radius: 50%;
        margin: 10px 0px;

    }

    .sidebar_collapse_profile div {
        text-align: center;

    }

    .smallDeviceIcon {
        display: none;
    }

    .collapse_smalll {
        display: none;
    }
}

@media (max-width:767px) {
    .sidebar_collapse_profile {
        text-align: center;
    }

    .collapse_largeDeviceIcon {
        display: none;
    }

    .navCollapse {
        width: 80px;
        background-color: #131313;
        color: #fff;
    }

    .nav-option {
        width: auto;
        margin: auto;
    }

    .d_block {
        display: block;
    }

    .d_none {
        display: none;

    }

    .sidebar_content {
        width: 80px;
        height: 100vh !important;
        z-index: 100000000000000000000000000;
        position: relative;
    }

    .smallDeviceIcon {
        text-align: end;
        padding: 15px;
    }

    .collapse_smalll {
        text-align: center;
        padding: 15px;
    }

    .largeDeviceIcon {
        display: none;
    }

    .smallNav {
        display: block;
        width: 250px;
    }


    .sidebar_profile img {
        width: 60px;
        height: 60px;
    }

    .sidebar_collapse_profile img {
        width: 60px !important;
        height: 60px;
        border-radius: 50%;
        margin: 10px 0px;

    }


}


.nav-option {
    border: 1px solid transparent;
}

.nav-option:hover {
    background-color: #292323;
    
}