.product_img img {
    width: 140px !important;
    height: 100% !important;
    object-fit: cover;
}

.card {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
    border: none;
    background-color:#342124;
    padding: 20px;
}

.card-body {
    padding-top: 0 !important;
}

.bundles_card {
    display: flex;
    justify-content: center;
}

.card-title {
    font-weight: 700 !important;
    font-size:20px;
    color: white;
}
.card-text{
    color: white;
}

.small_header {
    color: #fff;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
}

.small_footer {
    color: #fff;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400 !important;
    text-align: center;
    margin-bottom: 20px;
}

@media(max-width:1024px) {
    .card_small {
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center;
        width: 100% !important;
    }

    .product_img {
        text-align: center;
    }

    .product_img img {
        width: 100% !important;
        height: 140px !important;
        margin-bottom: 15px;
    }

    .card-body {
        width: 100% !important;
    }

    .col-md-4 {
        width: 100% !important;
    }

    .col-md-8 {
        width: 100%;
    }
}