.product_img img {
    width: 131px !important;
    height: 140px !important;
}

.card {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
    border: none;
    padding: 20px;
}

.card-body {
    padding-top: 0 !important;
}

.bundles_card {
    display: flex;
    justify-content: center;
}