.content_master>div>h3 {
    margin: 10px 0;
}

.tWhite {
    color: white;
}

.fwBold {
    font-weight: 700;
}

.fs20 {
    font-size: 20px;
}

.tile.minimized.selected {
    background-color: #722d37;
}

.tile.minimized:hover {
    background-color: #722d37 !important;
    transition-duration: 0.5s !important;
}

#quick_stats>ul,
#shards_stats>ul,
#quick_stats_premium>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.content_master ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bots_tiles_minimized {
    margin-bottom: 30px !important;
}

.tile.minimized.selected {
    background-color: var(--red_d);
}

.tile.minimized {
    cursor: pointer;
    padding: 6px 20px !important;
    background-color: #ad3d4b;
    transition: all 300ms ease;
    margin: 0 10px 10px 0;
}

.bots_tiles_minimized .tile {
    max-width: 280px !important;
    width: 100% !important;
}

.tile {
    padding: 20px;
    margin-bottom: 30px;
    color: white;
}

.sRadius {
    border-radius: 3px;
}

.fs16 {
    font-size: 16px;
}

.tile.minimized .tile_title {
    margin: 0;
}

.tile .tile_title img,
.tile .tile_title span {
    vertical-align: middle;
}

.tile .tile_title img {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    margin-right: 15px;
}

.tile .tile_title span {
    vertical-align: middle;
}

.tile .tile_title span {
    max-width: 74%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fs16 {
    font-size: 16px;
}

.tile.minimized {
    cursor: pointer;
}

/* shard titles design */
#shard_search {
    margin-bottom: 15px;
}

.searchbar {
    padding: 6px 12px;
    background-color: #ad3d4b;
    border-style: none;
    font-family: 'gt_walsheim_pro';
    max-width: 360px;
    width: 100%;
}

.tWhite {
    color: white !important;
}

.fs18 {
    font-size: 18px;
}

.sRadius {
    border-radius: 3px;
}


.shard_ul_tiles {
    display: flex;
    flex-wrap: wrap
}

#shards_tiles .tile.small .tile_title {
    display: flex;
    justify-content: space-between;
}

.tile .tile_title,
.tile .tile_info {
    margin-bottom: 10px;
}

.fs16 {
    font-size: 16px;
}

.tile .tile_title span {
    vertical-align: middle;
}

.tile .tile_title span {
    max-width: 74%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#quick_stats>ul,
#shards_stats>ul,
#quick_stats_premium>ul {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: start;
}

.content_master ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


element.style {
    background-color: var(--black_d);
    display: block;
}

#shards_tiles .tile {
    /* min-width: 253px !important; */
}

.tile.small {
    padding: 15px;
    margin: 0 5px 5px 0;
    width: 253px !important;
}






.tile.small .tile_info ul::before {
    content: 'shard info';
}

.tile .tile_info ul::before,
.tile .tile_info li strong {
    font-weight: 700;
}

.tile .invite,
.tile .tile_info ul::before {
    font-size: 14px;
    text-transform: uppercase;
}







/* shard titles design */