/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@700&family=Staatliches&family=Work+Sans&display=swap'); */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: 'Roboto' !important;
}

.container_width {
  max-width: 1440px !important;
  margin: auto !important;

}

button,
a,
i {
  cursor: pointer;
}

button:focus-visible {
  border: none !important;
  outline: none !important;
}

button:focus {
  border: none !important;
  outline: none !important;
}

a {
  color: unset;
  text-decoration: none;
}

.overview_container {
  margin: 0 auto;

  margin-top: 100px;
}

.layout_container{
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
}
/* responsive */
@media(max-width:767px) {

  /* navbar */
  .nav-item a {
    text-align: center;
  }

  .navbar-nav {
    margin-top: 40px;
    gap: 20px !important;
  }
}

@media(max-width:992px) {

  /* navbar */
  .nav-item a {
    text-align: center;
  }

  .navbar-nav {
    margin-top: 40px;
    gap: 20px !important;
  }
}